@media(max-width: 1200px) {
    .container{
        max-width: 987px;
    }
}

@media(max-width: 987px) {
    .container{
        max-width: 700px;
    }
    
    .header-title{
        font-size: 45px;
    }
}

@media(max-width: 520px) {
    .container{
        max-width: 520px;
    }
    
    .header-nav{
        position: fixed;
    }
    
    .header-burger{
        display: block;
    }
    
    .header-menu{
        display: none;
    }

}